{% macro budget_graph(csv_data) %}
  <budget_graph></budget_graph>
  <style type="text/css">
  /* 13. Basic Styling with CSS */

  /* Style the lines by removing the fill and applying a stroke */
  .line {
      fill: none;
      stroke: #008080;
      stroke-width: 3;
  }

  /* Style the dots by assigning a fill and stroke */
  .dot {
      fill: #ffab00;
      stroke: #fff;
  }

  </style>
  <script type="text/javascript" src="{{url_for('static', filename='js/d3.v4.min.js')}}"></script>
  <script type="text/javascript">

    // set the dimensions and margins of the graph
    var margin = {top: 20, right: 20, bottom: 30, left: 50},
        width = 960 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;

    // parse the date / time
    var parseTime = d3.timeParse("%Y-%m-%d");

    // set the ranges
    var x = d3.scaleTime().range([0, width]);
    var y = d3.scaleLinear().range([height, 0]);

    // define the line
    var valueline = d3.line()
        .curve(d3.curveBasis)
        .x(function(d) { return x(d.date); })
        .y(function(d) { return y(d.balance); });

    // append the svg obgect to the body of the page
    // appends a 'group' element to 'svg'
    // moves the 'group' element to the top left margin
    var svg = d3.select("budget_graph").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
      .append("g")
        .attr("transform",
              "translate(" + margin.left + "," + margin.top + ")");

    // Get the data
    var data_file = "{{url_for('static', filename='data/budget.csv')}}"
    var randomizer = Math.floor(Math.random() * 1000)
    d3.csv(data_file + '?' + randomizer, function(error, data) {
      if (error) throw error;

      // format the data
      data.forEach(function(d) {
          d.date = parseTime(d.date);
          d.balance = +d.balance;
      });

      // Scale the range of the data
      x.domain(d3.extent(data, function(d) { return d.date; }));
      var data_min = d3.min(data, function(d) { return d.balance; })
      y.domain([(data_min > 0 ? 0 : data_min),
                d3.max(data, function(d) { return d.balance; })]);

      // Add the valueline path.
      svg.append("path")
          .data([data])
          .attr("class", "line")
          .attr("d", valueline);

      // Add the X Axis
      svg.append("g")
          .attr("transform", "translate(0," + height + ")")
          .call(d3.axisBottom(x));

      // Add the Y Axis
      svg.append("g")
          .call(d3.axisLeft(y));

    });

  </script>
{% endmacro %}
