<!doctype html>
<title>Simple Page Blueprint</title>
<div class="page">
  <div class="upload_form">
    {% from 'macros/_upload_form.html' import upload_form %}
    {{ upload_form() }}
  </div>

  <div class="set_balance_form">
    {% from 'macros/_set_balance_form.html' import set_balance_form %}
    {{ set_balance_form(start_balance) }}
  </div>

  <div class="notes">
    {% from 'macros/_notes.html' import budget_notes %}
    {{ budget_notes(notes) }}
  </div>

  <div class="budget_graph">
    {% from 'macros/_budget_graph.html' import budget_graph %}
    {{ budget_graph(json_data) }}
  </div>

  <div class="budget_table">
    {% from 'macros/_budget_table.html' import budget_table %}
    {{ budget_table(budget) }}
  </div>
</div>
